<h1>We'd love to hear from you.</h1>

<p>Use the form below to send us an email. Or, if you're looking for an enrollment form, <a href="">just click here</a>.</p>

<%= form_for @contact do |f| %>
	<% if @contact.errors.any? %>
    <div id="error_explanation">
      <p>There was a problem sending your message.</p>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :message, "Message" %><br />
    <%= f.text_area :message %>
  </p>
  <p><%= f.submit "Send Message" %></p>
<% end %>
